.main-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.resume-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  width: 900;
  height: 1200;
  
}

.header{
  width: auto;
  height: 100%;
}

.skills-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills-info-1{
  display: grid;
  width: auto;
  height: auto;
}

.skills-info-2{
  display: grid;
  width: auto;
  height: auto;
}